<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <h1>Add Item</h1>
    <form method="POST">
        <label for="name">Item Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add Item</button>
    </form>
    <br>
    <a href="{{ url_for('main.item_page') }}">Back to Items</a>
    <a href="http://127.0.0.1:5000/">Back to Home</a>
</body>
</html>